COMPOSE_PROFILES=development
COMPOSE_PROJECT_NAME=portalhistoricosirh_web
IO_APP=web
IO_DEPLOYER=first.surname@[ANONYMIZED_DOMAIN]
IO_PROJECT=portalhistoricosirh
IO_SERVER=localhost
IO_STAGE=development
IO_VERSION=0.25.8-dev.1
MATOMO_ID=512
MATOMO_TOKEN=
SENTRY_DSN=https://[REDACTED]@[ANONYMIZED_DOMAIN]/[ANONYMIZED_PROJECT_ID]
