API_GATEWAY_PASSWORD=[REDACTED]
API_GATEWAY_URL=https://[ANONYMIZED_DOMAIN]/
API_GATEWAY_USERNAME=[REDACTED_USERNAME]
ASPNET_ENV=Development
BASE_URL=http://blazorpost
BLAZOR_PORT=5205
BLAZOR_TRAEFIK_HOST=blazorpost.localhost
DB_HOST=[REDACTED_HOST]
DB_NAME=[REDACTED_DB_NAME]
DB_PASS=secret
DB_USER=[REDACTED_USERNAME]
EMPREGADO_API_BASE_PATH=empregadoapi-h/
GOOGLE_CLIENTID=GET_ID_IN_GCP
GOOGLE_CLIENTSECRET=GET_SECRET_IN_GCP
JWTBEARERTOKEN_AUDIENCE=Audience
JWTBEARERTOKEN_EXPIRETIME=60
JWTBEARERTOKEN_ISSUER=https://[ANONYMIZED_DOMAIN]/
JWTBEARERTOKEN_SECRETKEY=[REDACTED_JWT]
LOG_LEVEL=Debug
MATOMO_APIURL=https://[ANONYMIZED_DOMAIN]/
UNIDADE_API_BASE_PATH=unidadeapi-h/
